<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DigitalScrumBoard.Data.Properties.Settings.aspnetdbConnectionString"
            connectionString="Server=tcp:av7uk7m6sw.database.windows.net,1433;Database=DigitalScrumBoard;User ID=adjones@av7uk7m6sw;Password=d33P_5P4C39;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="DigitalScrumBoard.Data.Properties.Settings.DigitalScrumBoardConnectionString"
            connectionString="Data Source=av7uk7m6sw.database.windows.net;Initial Catalog=DigitalScrumBoard;User ID=adjones;Password=d33P_5P4C39"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>