<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DigitalScrumBoard.Data.Properties.Settings.aspnetdbConnectionString"
            connectionString="Data Source=ADAM-PC;Initial Catalog=aspnetdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>