<table id="board">
  <tr>
      <th>Not Done</th> 
      <th>In Progress</th> 
      <th>In Test/Awaiting Sign-Off</th> 
      <th>Done :-)</th> 
  </tr>
  <tr>
      <td id="NotDoneCol" class="droppableRow"></td>
      <td id="InProgressCol" class="droppableRow"></td>
      <td id="InTestCol" class="droppableRow"></td>
      <td id="DoneCol" class="droppableRow"></td>
  </tr>
</table>