<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>Digital Scrum Board</title>
    <link href="~/Content/stylesheets/scrumboard.css" rel="stylesheet" />
    <link href="~/Content/stylesheets/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <script src="~/Scripts/digitalscrumboard.js"></script>
    <script src="~/Scripts/jquery-touch.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Highcharts-3.0.1/js/highcharts.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>*@
</head>
<body>
        @Html.Partial("Header")
        @RenderBody()
</body>
</html>
