@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h2>Welcome to the Digital Scrum Board</h2>
        <p>Please log in to access your boards. Don't have an account?&nbsp;&nbsp;<a id="register" class="btn btn-primary btn-lg">Register</a></p>
    </div>
</div>